:root {
  --primary-color: #fce918;
}

.card_header {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
  transition: all 0.3s;
}

.card_header:hover {
  color: #fff;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    var(--primary-color) 0px 0px 20px, var(--primary-color) 0px 0px 30px,
    var(--primary-color) 0px 0px 40px, var(--primary-color) 0px 0px 50px,
    var(--primary-color) 0px 0px 75px;
}
